@font-face {
    font-family: 'effra';
    src: url('../fonts/Effra_Rg.ttf');
}

@font-face {
    font-family: 'effra heavy';
    src: url('../fonts/Effra_Rg.ttf');
}

html, body {
    font-family: 'effra, Helvetica, sans-serif';
    color: #ffffff;
    font-size:  20;
    background: #000;
    cursor: url(images/mouse.png), default;
    min-height: 100%;
}

#canvas {
    width: 60%;
    min-width: 800px;
    background: #221c35;
}
